/*colors*/
:root {
    --rain: rgba(0,40,117,.9);
    --cloud: rgba(45,45,45,.9);
    --sun: rgba(205, 165, 0,.9);
    --storm: rgba(22,11,89, .9);
    --snow: rgba(255, 250, 250,.9);
}
/*classes*/
.sun {
    border: 20px ridge gold;
    box-shadow: var(--sun) 0px 0px 12px 6px;
}

.rain {
    border: 20px ridge cornflowerblue;
    box-shadow: var(--rain) 0px 0px 12px 6px;
}
.cloud {
    border: 20px ridge gray;
    box-shadow: var(--cloud) 0px 0px 12px 6px;
}
.storm {
    border: 20px ridge darkslateblue;
    box-shadow: var(--storm) 0px 0px 12px 6px;
}
.snow {
    border: 20px ridge snow;
    box-shadow: var(--snow) 0px 0px 12px 6px;
}
.loading {
    height: 50px;
    width: 50px;
    pointer-events: none;
    align-self: center;
    border: 20px ridge darkslateblue;
    box-shadow: var(--storm) 0px 0px 12px 6px;
}
/*elements*/
/*
@media (prefers-reduced-motion: no-preference) {
    .loading {
        animation: logo-spin infinite .8s linear;
    }
}
@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;*/
code {
    font-family: monospace;
}
body {
    margin: 0;
    font-family: 'Segoe UI Emoji';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button {
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 2px / 10%;
}
    button:hover {
        transition-timing-function: ease-out;
        transition-duration:.5s;
        background-color: snow;
        font-size: .8em;
        font-family: 'Trebuchet MS';
        border: 1px solid snow;
        border-radius: 2px / 20%;
        box-shadow: rgba(20,50,97, .8) 0px 0px 15px 1px inset;
    }
#root {
}
#app {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "info-bar template";
}
#template {
    grid-area:template;
    width: 50vw;
    min-width:540px;
    float:right;
    margin:0px 80px 0px 170px; /*we could make this a var value based on the infobar width*/
    display: grid;
    grid-template-columns: .9fr;
    grid-template-rows: 10px auto auto auto auto 10px;
    grid-template-areas: 
        "."
        "header"
        "report"
        "footer"
        ".";
    justify-content: center;
    text-align: center;
    background-color: gray;
    background-size: cover;
}
/*use text-align:center; for aligning text as seen in template, this eliminates the need to do it in each component*/
#info-bar {
    grid-area:info-bar;
    position:fixed;
    max-width:50vw;
    margin-top:20px;
    margin-left:60px;
    float:left;
    color:rgb(20,60,187);
    font-size:20px;
}
    #info-bar div {
        max-width: 165px;
        background-color: lightgray;
            /*
        border: 5px groove gray;
        box-shadow: rgba(0,0,0,.8) 2px 2px 5px 5px;
        border-radius: 7px / 2%;*/
    }
    #info-bar p {
        font-family:sans-serif;
        /*max-width:165px;*/
        font-size:14px;
        color:black;
        /*border: 5px groove gray;
        box-shadow: rgba(0,0,0,.8) 2px 2px 5px 5px;
        border-radius: 10px / 20%;
        */
    }
#quake-div {
    border: 9px groove gray;
    box-shadow: rgba(0,0,0,.8) 2px 2px 5px 5px;
    border-radius: 10px / 8%;
}
#three-day {
    border: 9px groove gray;
    box-shadow: rgba(0,0,0,.8) 2px 2px 5px 5px;
    border-radius: 12px / 5%;
}
    #three-day p {
        margin-top:4px;
        margin-bottom:4px;
    }
#loading-div {
    height:100vh;
    width:100vw;
    justify-content:center;
}
#header {
    grid-area: header;
    background-color: dimgray;
    font-family: 'Bernard MT';
    font-size: 2em;
    color: snow;
    border: dashed black;
    border-width: 2px 5px;
    border-radius: 20px / 60%;
    box-shadow: rgba(0,0,0,.8) 0px 0px 20px 5px inset;
}
#report {
    grid-area: report;
    min-width:490px;
    background-color: lightgray;
    padding: 5px;
    box-shadow: rgba(0,0,0,.8) 0px 0px 20px 5px inset;
    border-radius: 30px / 8%;
}
#text-report {
    max-width: 50%;
    float: right;
    padding-right: 20px;
    padding-left: 3px;
    text-align: left;
    border: 5px groove gray;
    box-shadow: rgba(0,0,0,.8) 2px 2px 5px 5px;
    border-radius: 20px / 7%;
}
    #text-report > p:nth-child(2n+2) {
        color:darkred;
        font-style:italic;
    }
#report-header {
    display:flex;
    align-items:center;
}
#report-header > p{
    margin-left: 3px;
    border: 1px solid black;
    border-radius: 2px / 10%;
    background-color:dodgerblue;

}
#wx-window {
    max-width:50%;
    float:left;
}
#icon {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
    border-radius: 60px / 40%;
}
#alert-div {
    grid-area: footer;
    padding: 5px 15px 7px 15px;
    box-shadow: rgba(0,0,0,.8) 0px 0px 20px 5px inset;
    border-radius: 30px / 18%;
    background-color: dodgerblue;
    font-family: sans-serif;
    color: snow;
}
#footer {
}
#invalid-page {
    min-width: 300px;
    max-width: 60vw;
    margin: 20vh auto auto auto;
    color: darkred;
    background-color: gray;
    font-style: italic;
    text-align: center;
}